<h1>Editing comment</h1>

<%= render 'form' %>

<!-- /posts/:post_id/comments/:id -->
<%= link_to 'Show', [@comment.blog, @comment] %> |
<!-- /posts/:post_id/comments/ -->
<%= link_to 'Back', blog_comments_path(@comment.blog) %>